.fade-in {
  animation: fadeIn 0.5s;
  -webkit-animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




/* ------------------------------------------- */
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-input {
  width: 60px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #e9ecef;
  color: #495057;
  margin: 0 5px;
  padding: 5px 10px;
}

.quantity-input:focus {
  outline: none;
  box-shadow: none;
}

.quantity-decrement, .quantity-increment {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.quantity-decrement:hover, .quantity-increment:hover {
  background-color: #218838;
}





/* -------------------------- */

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-cart-text {
  text-align: center;
}

.empty-cart-button {
  animation: pulse 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
